doctype
html(lang=config.language)
    head
        include head
    body
        header
            a.logo-link(href=url_for())
                h3 probably a blog
            include nav
        section.container
            block container
        footer
            block pagination
        include scripts
